body {
  font-family: Arial;
  background: #f4f4f4;
}

.login-box, .dashboard {
  width: 90%;
  max-width: 400px;
  background: white;
  padding: 20px;
  margin: 80px auto;
  text-align: center;
  border-radius: 8px;
}

input {
  width: 90%;
  padding: 10px;
  margin: 8px 0;
}

button {
  padding: 10px 20px;
  background: #2e86de;
  color: white;
  border: none;
  cursor: pointer;
}

table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid #ccc;
  padding: 8px;
}
